@charset "UTF-8";

.container {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
}

.item {
    flex: auto;
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}