@charset "UTF-8";

/* tablet settings */

@media (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url("../pacote-imagens-cap25/imagens/back-tablet.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url("../pacote-imagens-cap25/imagens/back-pc.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url("../pacote-imagens-cap25/imagens/back-tv.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
